[Unit]
Description=VLESS Key Checker Task
After=network.target

[Service]
Type=oneshot
# Убедитесь, что путь ниже соответствует вашему реальному пути к проекту
WorkingDirectory=/home/root/vless-rotator
ExecStart=/usr/bin/python3 /home/root/vless-rotator/checker.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
