[Unit]
Description=VLESS Self-Healing Gateway
After=network.target

[Service]
# Укажите пользователя, от которого работает сервис
User=admin
# Укажите полный путь к директории проекта
WorkingDirectory=/home/developer/vless-rotator
# Укажите полный путь к python3 и вашему скрипту
ExecStart=/usr/bin/python3 /home/developer/vless-rotator/gateway_manager.py
Restart=always

[Install]
WantedBy=multi-user.target